<ion-tabs>
  <ion-tab [root]="tabMessageRoot" tabTitle="Message" tabIcon="mail"></ion-tab>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Devices" tabIcon="phone-portrait"></ion-tab>
  <ion-tab [root]="tab2" tabTitle="Contacts" tabIcon="contact"></ion-tab>
</ion-tabs>