<ion-header>
  <ion-navbar>
    <ion-title>Message</ion-title>
    <ion-toggle end padding-left checked="false" (ionChange)="toggleFlash()"></ion-toggle>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <button padding-top class="button button-clear" style="background-image:url('assets/imgs/1.png'); background-size:cover"
    (click)="sendSms(0)">
    <img src="assets/imgs/evacuate.png" style="width : 30% ; height : 30%">
  </button>

  <button padding-top class="button button-clear" style="background-image:url('assets/imgs/1.png'); background-size:cover"
    (click)="sendSms(1)">
    <img src="assets/imgs/eq1.png" style="width : 30% ; height : 30%">
  </button>

  <button padding-top class="button button-clear" style="background-image:url('assets/imgs/1.png'); background-size:cover"
    (click)="sendSms(2)">
    <img src="assets/imgs/fd.png" style="width : 30% ; height : 30%">
  </button>

  <button padding-top class="button button-clear" style="background-image:url('assets/imgs/1.png'); background-size:cover"
    (click)="sendSms(3)">
    <img src="assets/imgs/cr.png" style="width : 30% ; height : 30%">
  </button>

  <button padding-top class="button button-clear" style="background-image:url('assets/imgs/1.png'); background-size:cover"
    (click)="sendSms(4)">
    <img src="assets/imgs/settle.png" style="width : 30% ; height : 30%">
  </button>

</ion-content>