page-contact {
    .hidden {
        display: none;
        opacity: 0;
    }
    padding: 16px;
    .stop-scan {
        position: absolute;
        bottom: 20px;
    }
    .scan-boarder {
        width: 20em;
        height: 20em;
        left: 50%;
        top: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        backface-visibility: hidden;
        &:before,
        &:after,
        em:after,
        em:before {
            border-color: red;
            content: "";
            position: absolute;
            width: 35px;
            height: 16px;
            border-style: solid;
            border-width: 0px;
        }
        &:before {
            left: 0;
            top: 0;
            border-left-width: 1px;
            border-top-width: 1px;
        }
        &:after {
            right: 0;
            top: 0;
            border-right-width: 1px;
            border-top-width: 1px;
        }
        em:before {
            left: 0;
            bottom: 0;
            border-left-width: 1px;
            border-bottom-width: 1px;
        }
        em:after {
            right: 0;
            bottom: 0;
            border-right-width: 1px;
            border-bottom-width: 1px;
        }
    }
}
