<ion-header>
  <ion-navbar>
    <ion-title>
      Devices
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="addStudent()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content style="background: none transparent !important;" class="contact-content" padding>
  <ion-list inset [class.hidden]="startScanning">
    <button ion-item *ngFor="let contact of contacts">
      {{contact.firstName}} {{contact.lastName}}
    </button>
  </ion-list>
  <div class="scanner-container" [class.hidden]="!startScanning">
    <div class="scan-boarder">
      <em></em>
    </div>
    <button ion-button full color="secondary" class="stop-scan" (tap)="hideCamera()">Stop Scanning</button>
  </div>
</ion-content>